.ss-number-range {
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  border-radius: 2px;
  &.ss-number-range-icons {
    padding-right: 28px;
    position: relative;
  }
  &:has(> .ant-input:focus) {
    box-shadow: 0 0 0 2px var(--ant-primary-2, #e6f7ff);
    border-color: var(--ant-primary-color, #2c7ef8);
  }
  .anticon {
    color: rgba(0, 0, 0, 0.25);
    font-size: 16px;
  }
  input {
    border: none;
    box-shadow: 0 0 0 0 transparent;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    background-image: none;
    &::placeholder {
      color: #bfbfbf;
    }
  }
  .anticon-close-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    font-size: 12px;
    cursor: pointer;
  }
}
