.table-cell-text {
  display: block;
  // min-width: 70px;
  // max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
}
.table-cell-text-rows {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.clickable-text-content {
  display: block;
  min-width: 70px;
  color: var(--ant-primary-color, #2c7ef8);
  white-space: nowrap;
  overflow: hidden;
  word-break: break-all;
  cursor: pointer;
}
.table-cell-text-right-ellipsis {
  text-overflow: ellipsis;
}
