.xxx {
  width: 788px !important;
}

.cf-table-cell {
  &.aaa {
    span {
      padding-left: 30px;
    }
    .table-cell-text {
      padding-left: 30px;
    }
  }
}
.ant-table-tbody > tr.custom-rowwww > td {
  background-color: red !important;
}
