.ss-splitter {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  .ss-splitter-bar {
    position: relative;
    flex: none;
    user-select: none;
    flex: 0 0 0;
    .ss-splitter-bar-dragger {
      position: relative;
      &::before {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
      }
      &:hover {
        background-color: var(--ant-primary-2, #e6f7ff);
        &::before {
          background-color: transparent;
        }
      }
    }
  }
  .ss-splitter-panel {
    overflow: auto;
  }
  &.ss-splitter-vertical {
    flex-direction: column;
    .ss-splitter-bar {
      height: 0;
      .ss-splitter-bar-dragger {
        cursor: row-resize;
        width: 100%;
        height: 6px;
        top: -3px;
        box-sizing: border-box;
        padding: 2px 0;
        left: 0;
        &::before {
          height: 2px;
        }
      }
    }
    .ss-splitter-panel {
      width: 100%;
    }
  }
  &.ss-splitter-horizontal {
    flex-direction: row;
    .ss-splitter-bar {
      width: 0;
      .ss-splitter-bar-dragger {
        cursor: col-resize;
        height: 100%;
        width: 6px;
        left: -3px;
        box-sizing: border-box;
        padding: 0 2px;
        top: 0;
        &::before {
          width: 2px;
        }
      }
    }
    .ss-splitter-panel {
      height: 100%;
    }
  }
  &.ss-splitter-horizontal,
  &.ss-splitter-vertical {
    &.ss-splitter--disabled {
      .ss-splitter-bar {
        .ss-splitter-bar-dragger {
          cursor: default;
        }
      }
    }
  }
}
