.ss-empty {
  width: 100%;
  text-align: center;
  .ss-empty-img {
    width: 128px;
    height: 128px;
  }
  .ss-empty-text {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
  .ss-empty-btn {
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}
