:global {
  .cf-form-text-item {
    &,
    & > * {
      // font-size: 12px;
      line-height: 32px;
    }

    &,
    & > *:last-child {
      margin: 0;
    }
  }
}

.cf-form-text-item {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px 0;
}
