.cf-form-item {
  margin-bottom: 16px;
  &.cf-form-item-label-wrap {
    .ant-form-item-label > label {
      white-space: normal;
      align-items: flex-end;
      height: auto;
      padding-top: 5px;
      line-height: 20px;
    }
  }
}
