.custom-antd-message .ant-message-custom-content {
  display: flex;
} 

/* :root {
  --clr-main: #EF8839;
  --clr-sub:  #FFF9F0;
  --clr-grdf: #FFB983;
  --clr-grdt: #EF8839;
  --clr_sel:  #ff6600;

  --ant-primary-color: #ef8839 !important;
  --ant-primary-2: #fff9f0 !important;

  --fil_grey: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%)
    hue-rotate(294deg) brightness(91%) contrast(84%);
  --fil_main: brightness(0) saturate(100%) invert(77%) sepia(44%) saturate(6238%) hue-rotate(339deg) brightness(106%) contrast(87%);
} */
.__dumi-default-previewer-demo{
  /* height: 500px; */
}
